@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$primary-color: blueviolet;

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

a {
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.color--primary {
  color: $primary-color;
}

.text {
  &--center {
    text-align: center;
  }
}

.alt-text {
  color: #777;
  font-size: 14px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 868px;
  padding-right: 12px; /* 3 */
  padding-left: 12px;
}

.nav {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #e1e5eb;

  &__item {
    color: #444;
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: $primary-color;
    }

    &--left {
      margin-right: auto;
    }
  }
}

.hero {
  padding-top: 14px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;

  &__header {
    letter-spacing: 2px;
  }

  &__subtitle {
    margin-bottom: 56px;
  }

  &__img {
    max-width: 400px;
  }

  &__ending {
    margin-top: 28px;
  }
}

.scroll-icon {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 64px;

  animation: mover 1s infinite alternate;
}

.btn {
  font-size: 16px;
  color: $primary-color;
  padding: 18px 36px;
  background: #fff;
  border: 2px solid $primary-color;
  border-radius: 36px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
