@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$primary-color: blueviolet;

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.link {
  &__inverted {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #f0f0f0;
    }
  }
}

.color--primary {
  color: $primary-color;
}

.text {
  &--center {
    text-align: center;
  }
}

.mirror {
  transform: scale(-1, 1);
}

.alt-text {
  color: #777;
  font-size: 14px;
}

.section-title {
  letter-spacing: 2px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 868px;
  padding-right: 12px;
  padding-left: 12px;
}

.nav {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item {
    color: #444;
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: $primary-color;
    }

    &--left {
      margin-right: auto;
    }
  }
}

.hero {
  padding-top: 14px;
  padding-bottom: 94px;
  display: flex;
  align-items: center;

  &__subtitle {
    margin-bottom: 56px;
  }

  &__img {
    max-width: 400px;
  }

  &__ending {
    margin-top: 28px;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 84px;

  &__header {
    letter-spacing: 1.5px;
  }

  &__subtitle {
    padding-bottom: 24px;
  }

  &__content-wrapper {
    max-width: 360px;
  }

  &__image {
    padding: 64px;
  }
}

.scroll-icon {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 64px;

  animation: mover 1s infinite alternate;
}

.btn {
  font-size: 16px;
  color: $primary-color;
  padding: 18px 36px;
  background: #fff;
  border: 2px solid $primary-color;
  border-radius: 36px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $primary-color;
  }

  &--inveres {
    color: #fff;
    background: $primary-color;

    &:hover {
      color: $primary-color;
      background: #fff;
    }
  }
}

.features {
  padding-top: 56px;

  &__container {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }

    &__image {
      align-self: center;
    }

    &__subtitle {
      margin-top: 0;
    }
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.footer {
  background-color: $primary-color;
  color: #fff;
  margin-top: 24px;

  &__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 868px;
    padding: 12px;
  }
}
